In [0]:
# Write a Pyspark program to rename multiple columns of a data frame.
data = [ (1 ,'Neha' , 'IT' ,1000),\
         (2 ,'John' , 'HR' ,1500),\
         (3 ,'David' , 'IT' ,1500)]

In [0]:
# functionality: withColumnRenamed

In [0]:
df=spark.createDataFrame(data=data,schema=['empid','c1','c2','salary'])

In [0]:
df.show()

+-----+-----+---+------+
|empid|   c1| c2|salary|
+-----+-----+---+------+
|    1| Neha| IT|  1000|
|    2| John| HR|  1500|
|    3|David| IT|  1500|
+-----+-----+---+------+

In [0]:
df1=df.withColumnRenamed('empid','emp_id').\
    withColumnRenamed('c1','name').\
        withColumnRenamed('c2','dept')

In [0]:
df1.show()

+------+-----+----+------+
|emp_id| name|dept|salary|
+------+-----+----+------+
|     1| Neha|  IT|  1000|
|     2| John|  HR|  1500|
|     3|David|  IT|  1500|
+------+-----+----+------+