In [0]:
# write a PySpark programme to extract the product_name, year and price

In [0]:
sales_data = [(1,100,2008,10,5000),(2,100,2009,12,5000),(7,200,2011,15,9000)]

In [0]:
product_data = [(100,"Nokia"),(200,"Apple"),(300,"Samsung")]

In [0]:
sales_schema = "sale_id INT,product_id INT,year INT,quantity INT,price INT"
product_schema = "product_id INT,product_name STRING"

In [0]:
sales=spark.createDataFrame(data=sales_data,schema=sales_schema)
product=spark.createDataFrame(data=product_data,schema=product_schema)

In [0]:
sales.show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

In [0]:
product.show()

+----------+------------+
|product_id|product_name|
+----------+------------+
|       100|       Nokia|
|       200|       Apple|
|       300|     Samsung|
+----------+------------+

In [0]:
help(product.join)

Help on method join in module pyspark.sql.dataframe:

join(other: 'DataFrame', on: Union[str, List[str], pyspark.sql.column.Column, List[pyspark.sql.column.Column], NoneType] = None, how: Optional[str] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Returns
    -------
    :class:`DataFrame`
        Joined DataFrame.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql import Row
    >>> from pyspark.sql.functions import desc
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")]).toDF("age", "name")
    >>> df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])
    >>> df3 = spark.createDataFrame([Row(age=2, name="Alice"), Row(age=5, name="Bob")])
    >>> df4 = spark.createDataFrame([
    ...     Row(age=10, height=80, name="Alice"),
    ...     Row(age=5, height=None, name="Bob"),
    ...     Row(age=None, height=None, name="Tom"),
    ...     Row(age=None, height=None, name=None),
    ... ])

    Inner join on columns (default)

    >>> df.join(df2, 'name').select(df.name, df2.height).show()
    +----+------+
    |name|height|
    +----+------+
    | Bob|    85|
    +----+------+
    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).show()
    +----+---+
    |name|age|
    +----+---+
    | Bob|  5|
    +----+---+

    Outer join for both DataFrames on the 'name' column.

    >>> df.join(df2, df.name == df2.name, 'outer').select(
    ...     df.name, df2.height).sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Bob|    85|
    |Alice|  null|
    | null|    80|
    +-----+------+
    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Tom|    80|
    |  Bob|    85|
    |Alice|  null|
    +-----+------+

    Outer join for both DataFrams with multiple columns.

    >>> df.join(
    ...     df3,
    ...     [df.name == df3.name, df.age == df3.age],
    ...     'outer'
    ... ).select(df.name, df3.age).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  2|
    |  Bob|  5|
    +-----+---+

In [0]:
joindf=sales.join(product,sales.product_id==product.product_id,how='inner')

In [0]:
joindf.show()

+-------+----------+----+--------+-----+----------+------------+
|sale_id|product_id|year|quantity|price|product_id|product_name|
+-------+----------+----+--------+-----+----------+------------+
|      1|       100|2008|      10| 5000|       100|       Nokia|
|      2|       100|2009|      12| 5000|       100|       Nokia|
|      7|       200|2011|      15| 9000|       200|       Apple|
+-------+----------+----+--------+-----+----------+------------+

In [0]:
df=joindf.select('product_name','year','price')

In [0]:
df.show()

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+